<h1>Dashboard List</h1>
<p>Hi <%=current_user.role%> Welcome to dashboard</p>

<%= link_to 'gotoattachments', new_article_path %>

<%= link_to 'gotoconfig', new_document_category_path %>



<h2>User attachment details</h2>
<table>
  <thead>
    <tr>
      <th>DocumentNo</th>
      <th>DocumentCategory</th>
      <th>DocumentName</th>
      <th>Status</th>
      <th>CreatedAt</th>
       <th>Detaisl</th>
    </tr>
  </thead>
  <tbody>
    <% @user_articles.each do |art| %>
      <tr>
        <td><%=link_to "#{art.document_no}", art %></td>
        <td><%= art.document_category %></td>
        <td><%= art.document_name %></td>
        <td><%= art.status %></td>
        <td><%= art.created_at %></td>
        <%if current_user.Admin?%>
        <td>
          <!-- View link -->
          <%= link_to 'View', art %> |
          <!-- Edit link -->
          <%= link_to 'Edit' %> |
          <%= link_to 'Delete' %> 
          
        </td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>


<h2>Audit Details</h2>
<table>
  <thead>
    <tr>
      <th>Role</th>
      <th>Action</th>
      <th>Audit Changes</th>
      <th>Version</th>
      <th>Time</th>
      
    </tr>
  </thead>
  <tbody>
    <% @audites.each do |audit| %>
      <tr>
        <td><%= audit.auditable_type%></td>
        <td><%= audit.action%></td>
        <td><%= audit.audited_changes%></td>
        <td><%= audit.version%></td>
        <td><%= audit.created_at%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%if current_user.Admin?%>
<h2>Admin configuration</h2>
<table>
  <thead>
    <tr>
      <th>Document Access</th>
      <th>Role</th>
      <th>View</th>
      <th>Edit</th>
      <th>Download</th>
      
      
    </tr>
  </thead>
  <tbody>
    <% @document_category.each do |dc| %>
      <tr>
        <td><%= dc.name%></td>
        <td><%= dc.role%></td>
        <td>
        <%if dc.view == 1%>
        <%= check_box_tag 'view', '1', dc.view? %>
        <%else%>
        <%= check_box_tag 'view', '0' %>
        <%end%></td>
        
        <td>
        <%if dc.edit == 1%>
        <%= check_box_tag 'edit', '1', dc.edit? %>
        <%else%>
         <%= check_box_tag 'edit', '0' %>
        <%end%></td>

        <td>
        <%if dc.download == 1%>
        <%= check_box_tag 'download', '1', dc.download? %>
        <%else%>
         <%= check_box_tag 'download', '0' %>
        <%end%></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>


