<h1>Dashboard#index</h1>
<p>Hi <%=current_user.role%> Welcome to dashboard</p>

<%= link_to 'gotouserpage', new_article_path %>
<h2>User attachment details</h2>
<table>
  <thead>
    <tr>
      <th>Action</th>
      <th>Created At</th>
      <th>Changes</th>
    </tr>
  </thead>
  <tbody>
    <% @user_articles.each do |art| %>
      <tr>
        <td><%=link_to "#{art.title}", art %></td>
        <td><%= link_to "#{art.body}", art %></td>
        <td><%= art.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
