



<%= form_with(model: @article, local: true, html: { multipart: true }) do |f| %>
 


  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div>
    <%= f.label :DocumentNo %>
    <%= f.text_field :document_no %>
  </div>

  <div>
    <%= f.label :DocumentCategory %>
    
    <%= f.select :document_category, options_for_select(["EmiratedId", "Aadhar", "VoterID"]), prompt: 'Identification' %>
  </div>

  <div>
    <%= f.label :DocumentName %>
    <%= f.text_field :document_name %>
  </div>

  <div>
    <%= f.label :ApprovalStatus %>
    <%= f.select :status, options_for_select(["Pending", "Approved", "Rejected"]), prompt: 'WorkFlow' %>
  </div>



  <%= f.hidden_field :user_id, value: current_user.id %>
  
  <div>
    <%= f.submit %>
  </div>
<% end %>
