<%=@article.document_no%>
<%=@article.document_category%>
<%=@article.document_name%>
<%=@article.status%>


<% if @article.image.attached? %>
  <%= link_to "Download", rails_blob_path(@article.image, disposition: "attachment") %>
<% else %>
  <p>No resume uploaded.</p>
<% end %>


